@use "../../../presets" as *;
@use "../../../mixins" as *;

.header-menu {
    background-color: $color-bg-primary;
    padding-top: 13px;
    padding-bottom: 13px;

    &__container {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__logo {

        &-link {}

        &-image {}
    }

    &__navbar {}

    &__list {
        // делает не списком
        @include unlist;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {}

    &__link {
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ACA592;
          padding: 5px 10px;
    }

    &__action {
      
        margin-left: auto;
        border: 2px solid #FFAE2B;
        display: flex;
    }

    &__button {
        display: block;
        padding: 0.5em 1em;
        // на кнопки при наведении стрелка меняется на пальчик
        cursor: pointer;
        text-align: center;
        min-width: 147px;
        height: 52px;
        &:hover {
            box-shadow: 0 0 15px red;
        }
    }
}

.activ {
    color: #FFAE2B;
}