@use "../../../presets" as *;
@use "../../../mixins" as *;

.header {
// position: relative;
// z-index: -2;
    background-color: $color-bg-primary;
  // св-во привязано к высоте экрана
  display: flex;
  // ставим блоки друг под другом
  flex-direction: column;
  // *высота блока header на весь экран
  min-height: 80vh;
// display: block;
border: none;
}


.header-container {

}

a:hover {
      background-color: #ffae2b;
}


