@use "../../../presets" as *;
@use "../../../mixins" as *;

.footer-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;

    &__title {
        margin: 0;
        max-width: 517px;
        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        color: #FFAE2B;

        @include lg {
            font-size: 50px;
        }

        @include md {
            font-size: 45px;
        }

        @include sm {
            font-size: 40px;
        }

    }

    &__description {

        font-family: 'Old Standard TT';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        color: #ACA592;
    }


    &__content {}
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        height: 54px;
        width: 420px;
        border: 1px solid #4b4136;

        @include sm {
            width: 325px;
        }

        &--md {
            background-color: #FFAE2B;
            margin-bottom: 30px;
        }
    }

    &__title {
        max-width: 420px;
        text-align: center;
        margin-bottom: 20px;

        &--md {
          color: #FFAE2B;  
        }
    }

    &__social {
        display: flex;
        gap: 10px;

        &-link {
            transition: ease-in-out 1s;
            &:hover {
                background-color: #ffae2b;
                // тень при наведении
                box-shadow: 0 0 7px $color-accent-orange;
                // увеличивает при наведении
                transform: scale(1.1);
            }
        }

        &-picture {
            height: 48px;
            width: 48px;
            border: 1px solid #4b4136;
            display: flex;
            align-items: center;
            justify-content: center;


        }

        &-logo {}
    }
}