@use "../../../../presets" as *;
@use "../../../../mixins" as *;


.test {}

.bg {
    width: 100vw;
    min-height: 300px;
    // background-color: red;
    background-image: url(../../../../img/team.png);
}



.test {}

.test-bg {}

.test-text {}